 body {
     background-color: aquamarine;
 }

 html {
     font-size: 62.5%;
     box-sizing: border-box;
 }



 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
 }

 .calculator {
     border: 2px solid #00ff66;
     border-radius: 5px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     background-color: #a5a5a5;
     box-shadow: 3px 10px 3px 5px #30ff83
 }

 .calculator-screen {
     background-color: #28874e;
     width: 100%;
     height: 80px;
     color: #313131;
     text-align: right;
     padding-right: 20px;
     padding-left: 10px;
     font-size: 4rem;
     border-radius: 5px solid #8a8a8ac2;
     font-family: 'Orbitron',
         sans-serif;
 }

 button {
     height: 60px;
     font-size: 2rem !important;
     cursor: pointer;
     box-shadow: 0 7px #00ff66;
 }


 .calculator-keys {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 20px;
     padding: 20px;
 }

 .btn:active {
     box-shadow: none;
     position: relative;
     top: 7px;
 }

 .h1 {
     text-align: center;
     margin-bottom: 10px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }


 .list {
     padding-left: 5%;
     font-size: 150%;
 }

 .close {
     box-shadow: none;
 }